/* color scheme */
/* Flag Red #d32222
Platinum #eff1f0
Black #020001
Shamrock #009d62 */

/* Typography Desktop */
/* h1 32px Audiowide
button 36px audiowide
li & data 32px audiowide
p  32px sansation light */

/* header */

header{
    background-color: #d32222;
    max-width: 1200px;
    display: flex;
    height: 100px;
}

h1{
    font-family: "audiowide", monospace;
    margin: 0;
    margin: auto;
    font-size: 36px;
    text-align: center;
    color: #eff1f0;
}

/* images */
.player{
    border-bottom: 3px solid #EFF1F0;
    border-top: 3px solid #EFF1F0;
}

.race{
    position: relative;
}

.player .race .racetrack{
    display: block;
    width: 100vw;
}

.player .race .car{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40vw;
}

/* player stats */

.playerstats{
    border: 10px solid #009D62;
    background: #020001;
    height: 154px;
}

.playerstats p{
    color: #009D62;
    font-family: "audiowide", monospace;
    font-size: 32px;
    margin: 0;
}

.seperator{
    margin: 24px 36px 24px 36px;
    display: flex;
}

.seperator p{
    flex: 1;
}

.seperator .lapnumber{
    text-align: end;
}

.seperator div{
    flex: 1;
    max-width: 100px;
    background:#009D62;
}

/* footer stuff */
.footer{
    background: #d32222;
}

.dicerolls{
    background: #EFF1F0;
    display: flex;
    gap: 5vw;
}

.dice{
    margin: auto;
    justify-content: center;
}

.footer .buttonselection{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
}

.footer #rolldicebtn{
    /* btn background */
    border-radius: 16px;
    background: #020001;
    box-shadow: 10px 11px 4px 0 rgba(2, 0, 1, 0.62);
    border: none;

    max-width: 186px;
    height: 67px;

    /* text */
    color: #EFF1F0;
    font-family: Audiowide;
    font-size: 32px;

    flex:1;
    transition: background-color 1s ease;
}

.footer #rolldicebtn:hover{
    /* btn background */
    background: #009D62;

    /* text */
    color: #EFF1F0;

    cursor: pointer;
}

.footer #refuelbtn{
    /* btn background */
    border-radius: 0;
    background: #EFF1F0;
    border: none;

    max-width: 186px;
    height: 67px;

    /* text */
    color: #000;
    font-family: Audiowide;
    font-size: 32px;

    flex: 1;
    transition: background-color 1s ease;
}

.footer #refuelbtn:hover{
    /* btn background */
    background:#009D62;

    /* text */
    color:#EFF1F0;

    cursor: pointer;
}

/* stuff from chatGPT. I had flex box before but needed the grid layout to get the desktop view I needed. I had to do a lot of editing to the grid*/
/* FOOTER */

.footer{
    background: #d32222;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto; 
    align-items: center;
}

/* footer with the links at bottom */
footer{
    max-width: 1200px;
    padding: 10px;
    background-color: #d32222;
    text-align: center;
    border-top: 3px solid #EFF1F0;
}

footer p a{
    text-decoration: none;
    color:#EFF1F0;
    font-family: sansation;
    padding: 10px;
}
footer p a:hover{
    text-decoration: none;
    color:#020001;
}

/* dice background containers */

.dicebox{
    background: #EFF1F0;
    padding: 15px;
    display: flex;
    justify-content: center;
}

/* dice image */

.dice{
    width: 60px;
    height: auto;
}

/* placement */

#dicebox1{
    grid-row: 1;
    grid-column: 1/3;
}

#dicebox2{
    grid-row: 1;
    grid-column: 3/6;
}

/* buttons */

.buttonselection{
    grid-column: 1/6;
    display: flex;
    grid-row: 2;
    justify-content: center;
    gap: 15px;
}

/* overlay! */

body{
    position: relative;
}

.overlay{
    position: absolute;
    background: rgba(2, 0, 1, 0.83);
    width: 100vw;
    max-width: 1200px;
    height: 100%;
    top: 0;
    /* display: flex; */
    display: none;
    flex-direction: column;
}

.overlay section{
    margin: 20px auto 20px auto;
    background-color: #d32222;
    max-width: 600px;
    padding: 0 20px 0 20px;
}

.overlay p{
    color: #EFF1F0;
    text-align: center;
    font-family: Audiowide;
    font-size: 36px;
    margin: auto;
    padding: 20px;
}

.overlay h2{
    color: #EFF1F0;
    text-align: center;
    font-family: Audiowide;
    font-size: 36px;
    margin: auto;
    padding: 20px;
}

.overlay h3{
    background-color: #EFF1F0;
    text-align: center;
    font-family: Audiowide;
    font-size: 20px;
    padding: 16px;
    color: #d32222;
    margin: auto 20px auto 20px;
    border-radius: 24px;
}

.overlay ul li{
    list-style-type:decimal;
    font-family: sansation;
    padding-bottom: 10px;
}

.overlay #clickhere{
    background-color: #009D62;
    border-radius: 10px;
    transition: 1s ease;
}

.overlay #clickhere:hover{
    background-color:#020001;
    cursor: pointer;
}

/* souces page */

.sourcesection{
    background-color: #020001;
    max-width: 600px;
    margin: 20px auto 20px auto;
    padding: 20px;
    border: 10px solid #009D62;
}

.sourcesection p{
    padding: 10px;
    font-family: sansation;
    color: #EFF1F0;
    font-size: 20px;
}

.sourcesection a{
    text-decoration: none;
    font-family: sansation;
    color: #ebeb0c;
}

.sourcesection a:hover{
    color: #009D62;
}

/* media! */
@media (min-width: 600px){

    h1{
        font-size: 60px;
    }

    /* images and stats */
    body{
        max-width: 1200px;
        margin: auto;
        background-color: #EFF1F0;
    }
    .player{
        display: flex;
        max-width: 1200px;
        background-color: #009D62;
    }

    .player .race .racetrack{
        max-width: 60vw;
        height: 100%;
    }

     .player .race .car{
        max-width: 300px;
    }

    .player .playerstats{
        width: 40vw;
        height: 100%;
    }

    /* footer stuff */
    .footer{
        background: #d32222;
        align-items: center;
        padding: 20px;
        gap: 0;
    }

    .dicerolls{
        background: transparent;
        display: contents;
    }

    #dice1{
        justify-self: start;
    }

    #dice2{
        justify-self: end;
    }

    .dice{
        margin: 0;
    }

    .footer .buttonselection{
        position: static;
        background-color: transparent;
        justify-self: stretch;
        gap: 20px;
        padding: 0;

    }

    .footer #rolldicebtn{
        font-size: 32px;
        flex: 1;
    }


    .footer #refuelbtn{
        font-size: 32px;
        flex: 1;
    }

    /* overlay */
    .overlay p{
        font-size: 40px;
    }

    .footer{
        grid-template-rows: auto;
    }

    #dicebox1{
        grid-column: 1;
        max-width: 200px;
        max-height: 200px;
    }

    .buttonselection{
        grid-column: 2/6;
        grid-row: 1;
    }

    #dicebox2{
        grid-column: 6;
        max-width: 200px;
        max-height: 200px;
    }

    }

@media (min-width: 1200px){
    /* images and stats */
    .player{
        display: flex;
        max-width: 1200px;
    }

    .player .race .racetrack{
        max-width: 720px;
        height: 100%;
    }

    .player .playerstats{
        width: 480px;
        height: 100%;
    }

    .player .race .car{
    width: 300px;
    }
}
